@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

@font-face {
  font-family: "CalibriRegular";
  src: local("CalibriRegular"),
    url("./fonts/calibri font sv/Calibri Regular.ttf") format("truetype");
  font-weight: regular;
}

@font-face {
  font-family: "CalibriBold";
  src: local("CalibriBold"),
    url("./fonts/calibri font sv/Calibri Bold.TTF") format("truetype");
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: white;
}

.font-link {
  font-family: jeanne-moderno, serif;
  font-weight: 700;
  font-style: normal;
}

.font-face-cr {
  font-family: "CalibriRegular";
}

.font-face-cb {
  font-family: "CalibriBold";
}